<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Creation Form</h1>
    <form action="/create" method="POST">
    <label>Id</label>
    <input type="text" name="id">
    <label>Name</label>
    <input type="text" name="name">
    <label>TV Show</label>
    <input type="text" name="show">
    <label>Image URL</label>
    <input type="text" name="image">
    <input type="submit" value="Submit" />
    </form> 
    <a href="http://localhost:3000/read">See the database</a>   
</body>
</html>