<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/edit/<%=filename%>" method="POST">
     <label>Old Name</label>
     <h3><%=filename%></h3>
     <label>New Name</label>
     <input type="text" name="name">
     <button type="submit">Rename</button>
    </form>
</body>
</html>