<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome <%=user.username%></h1>
    <h3>Update Posts</h3>
    <form action="/edit/<%=post._id%>" method="POST">
        <textarea placeholder="Enter Your Updated post" name="content"></textarea>
        <input type="submit" value="Update post">
    </form>
</body>
</html>