<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create" method="POST">
        <label>Username</label>
        <input type="text" name="username">
        <label>Email</label>
        <input type="text" name="email">
        <label>Password</label>
        <input type="text" name="password">
        <label>Age</label>
        <input type="number" name="age">
        <input type="submit" value="Create User">
        <a href="http://localhost:3000/login">Login</a>
        <a href="http://localhost:3000/dashboard">Dashboard</a>
        <a href="http://localhost:3000/profile">Profile</a>
        <a href="http://localhost:3000/upload">Upload Photo</a>
        
    </form>
</body>
</html>